.about_blog_inner
  .img-container-1600
    background-attachment: fixed
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 520px
    margin-bottom: 7px
    
  .heading_container_same
    p.adding_info
      +g-r-16
      color: $pink_1

      span
        font-weight: 600
  
  .about_text_container
    margin: 20px 0 0
    .about_title
      +g-b
      font-size: 50px
      line-height: 60px
      color: $purple_2
      margin-bottom: 10px
    
    .column_2
      column-count: 2
      column-gap: 55px
      margin-bottom: 110px
      +g-m-16
      line-height: 30px
      color: $purple_3
      p
        +g-b-25
        margin: 30px 0 15px
    
    .blog_bottom_container
      display: grid
      grid-gap: 20px
      margin-bottom: 90px
      .blog_single
        display: grid
        grid-template-columns: 453px 1fr
        &:not(:last-child)
          padding-bottom: 20px
          border-bottom: 1px solid rgba(47, 118, 193, 0.8)
        .blog_left_img
          img
            border-radius: 8px
            max-height: 320px
            height: 100%
            object-fit: cover
        .blog_right_container
          display: flex
          flex-direction: column
          justify-content: center
          .blog_right_title
            +g-b-25
            color: $pink_1
          .blog_right_content
            margin: 11px 0 20px
            +g-m-18
            line-height: 30px
            color: $pink_1
            word-break: break-word
            max-height: 61px
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
          
          .see_more
            min-width: 209px
            width: max-content
            margin: 0
            padding: 0 10px
