section.basket
  .basket_main_container
    margin-bottom: 110px
    .heading_container_same
      margin-top:  43px
    .basket_grid
      display: grid
      grid-template-columns: 1fr 387px
      grid-gap: 20px
      .basket_total_boxes
        display: grid
        grid-gap: 20px
             

      .result_box
        background-color: $aside_back
        padding: 32px 26px 22px
        height: max-content
        border-radius: 8px
        .title_total_box
          .heading
            +g-r-20
            color: $purple_2
            text-align: center
            margin-bottom: 12px
          
          p
            +flex_2
            grid-gap: 9px
            color: $purple_3
            +g-m
            font-size: 36px
            line-height: 30px
            span
              +g-b
              font-size: 40px
              line-height: 40px
            
          
        a
          width: 100%
          height: 46px
          +flex_2
          border-radius: 4px
          margin-top: 19px


.basket_single_box
  border: 1px solid #F1F1F1
  padding: 17px 40px 17px 60px
  position: relative
  border-radius: 10px
  background: $white
  transition: box-shadow .5s
  &:hover
    box-shadow: 0px 4px 10px rgba(84, 56, 132, 0.1)
  .basket_left
    display: grid
    grid-template-columns: auto 1fr
    grid-column-gap: 48px
    align-items: center


    .basket_product_img
      width: 120px
      height: 160px
      +flex_2
      grid-row-start: 1
      grid-row-end: 3
      img
        max-width: 100%
        max-height: 100%
        border-radius: 5px
    
    .basket_product_info
      .basket_product_name
        p
          +g-b-20
          line-height: 27px
          color: $purple_3
          word-break: break-word
      
      .basket_body_type
        +g-m-16
        line-height: 17px
        color: $pink_2
        margin: 10px 0
        span
          +g-b-16
          line-height: 17px
          margin-left: 7px
      
      .basket_product_code
        +g-r-12
        color: $purple_3
        span
          margin-left: 6px
    
    .basket_product_operation
      display: flex
      align-items: center
      grid-gap: 60px
      margin-top: 18px
      .basket_count_box
        display: flex
        align-items: center
        grid-gap: 3px
        height: 33px
        width: 116px
        padding: 10px 20px
        border: 1px solid $purple_3
        border-radius: 5px
        input
          width: 100%
          +g-b-16
          color: $purple_3
          text-align: center
        
      .basket_prices
        display: flex
        grid-gap: 9px
        align-items: flex-end
        .money_price
          +flex_2
          align-items: flex-end
          +g-b
          font-size: 18px
          line-height: 18px
          grid-gap: 1px
          color: $purple_2
          span
            +g-b-25
            line-height: 25px

        .old_price
          position: relative
          +g-b-18
          font-size: 16px
          line-height: 16px
          color: $old_price
          word-break: break-word
          span
            font-size: 18px
            line-height: 20px
          &::after
            content: ''
            position: absolute
            width: 100%
            height: 1px
            left: 0
            top: 8px
            background-color: $orange

  .delete
    position: absolute
    right: 19px
    top: 19px
    img
      width: 14px
      height: 14px