section.category
  .main_section_container
    .heading_container_same
      margin-top: 43px
    .category_list
      display: grid
      grid-template-columns: repeat(3,1fr)
      grid-gap: 30px 20px
      margin-bottom: 110px
      a
        overflow: hidden
        border-radius: 10px
        height: 316px
        img
          width: 100%
          height: 100%
          transition: all .5s
          border-radius: 10px
        
        &:hover
          img
            transform: scale(1.1)