section.contact
  position: relative
  overflow: hidden
  .contact_main_container
    width: 100%
    .heading_container_same
      margin-top: 43px
    .contact_grid_box
      display: grid
      grid-template-columns: 690px 1fr
      grid-gap: 66px
      justify-content: space-between
      margin: 15px 0 50px

      .contact_left
        display: grid
        grid-auto-rows: minmax(min-content, max-content)
        grid-gap: 65px
        grid-column: 2


        .heading_container_same
          margin: 0

        .left_icon
          max-width: 34px
          max-height: 34px
          height: 100%
          +flex_2
          img
            max-width: 34px
            max-height: 34px

        .contact_same
          display: grid
          grid-template-columns: 34px 1fr
          grid-gap: 25px
          align-items: flex-start
        
        .same_contact_text
          display: flex
          flex-direction: column
          +g-b-25
          line-height: 27px
          color: $purple_3
          word-break: break-word
          span
            +g-b-16
            line-height: 17px
            color: $pink_2
        
        .phones
          display: grid
          grid-gap: 17px
        
        .contact_socials
          display: flex
          grid-gap: 30px
        
      .contact_right
        background: $label_back
        border-radius: 10px
        padding: 40px 120px 45px
        grid-column: 1
        grid-row: 1
        .write_us
          +g-b-20
          color: $purple_3
          margin-bottom: 12px
        
        form#contact_form
          display: grid
          grid-template-columns: 1fr
          grid-gap: 10px
          

          label.error
            display: none !important

          .form-group
            margin-bottom: 0
            position: relative
            &::after
              background-size: cover
              background-position: center
              width: 20px
              height: 20px

            &.red_group
              &::after
                content: ''
                position: absolute
                right: 26px
                top: 16px
                background-image: url('../img/caution.svg')
            
            &.valid_group
              &::after
                content: ''
                position: absolute
                right: 26px
                top: 16px
                background-image: url('../img/valid.svg')

            input:not([type=radio])
              background: $white
              width: 100%
              height: 48px
              padding: 0 50px 0 25px
              +g-m-16
              border-radius: 10px


              & ~ .place-label
                position: absolute
                left: 25px 
                width: max-content 
                top: 16px 
                transition: 0.3s 
                letter-spacing: 0.5px
                +g-m-16
                color: $purple_3
                margin-bottom: 0 !important
                
                span
                  color: $pink_2
              
              &:focus ~ .place-label , &.has-content ~ .place-label
                top: -10px 
                font-size: 10px 
                color: $pink_1 
                transition: 0.3s
                background: transparent
                z-index: 1
                padding: 0 7px
                
                span
                  display: none
              
            textarea
              background: $white
              width: 100%
              border-radius: 10px
              +g-m-16
              height: 150px
              resize: none
              padding: 15px 20px

              & ~ .place-label
                position: absolute
                left: 20px 
                width: max-content 
                top: 15px 
                transition: 0.3s 
                letter-spacing: 0.5px
                +g-m-16
                color: $purple_3
                margin-bottom: 0 !important
              
              &:focus ~ .place-label , &.has-content ~ .place-label
                top: -10px 
                font-size: 10px 
                color: $pink_1 
                transition: 0.3s
                background: transparent
                z-index: 1
                padding: 0 7px
                
                span
                  display: none

          button
            margin-top: 9px
            height: 46px
            border-radius: 10px
