section.favourites
  .favourites_main_container
    width: 100%
    .heading_container_same
      margin-top: 43px
    .favourites_boxes
      display: grid
      grid-template-columns: repeat(4,1fr )
      grid-gap: 30px 20px
      margin-bottom: 110px
      .favourite_single
        position: relative
        button.delete
          position: absolute
          right: 10px
          top: 9px
          img
            width: 12px
            height: 12px