footer
  background: $footer_background
  padding: 55px 0 35px
  .footer_main_container
    width: 100%
    .footer_middle_container
      display: flex
      justify-content: space-between
      align-items: flex-start
      grid-gap: 120px
      padding-right: 60px
      .footer_left
        display: flex
        flex-direction: column
        grid-gap: 18px
        max-width: 285px
        a
          img
            max-width: 250px

        p
          +g-r-12
          line-height: 20px
          color: $white
    
      .footer_center
        display: flex
        justify-content: space-between
        align-items: flex-start
        width: 100%
        padding-right: 40px
        ul
          display: flex
          flex-direction: column
          grid-gap: 42px
          li
            display: flex
            a
              position: relative
              +g-b-18
              line-height: 18px
              opacity: .6
              color: $white
              transition: opacity .5s
              width: max-content
              &:hover
                opacity: 1
              
            &.active
              a
                opacity: 1
                &::before
                  content: ''
                  position: absolute
                  left: 0
                  bottom: -1px
                  height: 1px
                  width: 100%
                  background-color: $white

      .footer_right
        display: flex
        flex-direction: column
        grid-gap: 45px
        min-width: fit-content
        .phone_footer
          display: flex
          align-items: center
          grid-gap: 4px
          color: $white
          p
            +g-sb
            font-size: 12px
            line-height: 12px
        .socials
          display: flex
          align-items: center
          grid-gap: 15px
          a
            +g-l
            font-size: 12px
            color: $white 
            line-height: 17px
          div
            display: flex
            align-items: flex-start
            grid-gap: 17px
            
    .footer_author
      +flex_1
      color: $white
      p.author_law
        +g-r-13
      
      .footer_company
        +flex_2
        grid-gap: 17px
        p
          +g-sb
          font-size: 12px
          line-height: 14px
