
.form-contents
    .user-form-box
        margin: 0 auto
        padding: 50px 0px 64px
    .user-form
        max-width: 591px
        margin: 0px auto
        display: flex
        flex-direction: column

        &.account
            .user-form-header
                display: flex
                justify-content: center
                grid-gap: 20px
                .active-form
                    background: #F6F2FB
                    border: 1px solid #F6F2FB
                    border-bottom: none !important
                a
                    height: 48px
                    width: 217px
                    background: #fff
                    border: 1px solid $purple_1
                    border-bottom: none !important
                    border-radius: 30px 30px 0px 0px
                    display: flex
                    justify-content: center
                    align-items: center
                    span
                        +g-b
                        font-size: 20px
                        line-height: 20px
                        color: $purple_3

        &.update-password
            .user-form-header
                padding-bottom: 25px
                .title
                    text-align: center
                    color: $purple_3
                    font-size: 30px
                    line-height: 30px
                    +g-b
                p
                    text-align: center
                    +g-r
                    padding-top: 5px
                    color: $purple_1
                    font-size: 16px
                    line-height: 30px   
        
        &.again-mail
            .user-form-header
                padding-bottom: 19px
                .title
                    text-align: center
                    color: $purple_3
                    font-size: 30px
                    line-height: 30px
                    +g-b
                p
                    text-align: center
                    padding-top: 5px
                    color: $purple_1
                    font-size: 16px
                    +g-r
                    line-height: 18px   
                    max-width: 370px
                    margin: 0 auto
            .user-form-body
                .again-login-btn
                    padding-top: 0


        .user-form-body
            padding: 37px 69px 35px
            background: #F6F2FB
            border-radius: 10px
            .input-items
                display: grid
                grid-gap: 10px
            label.error
                display: none !important
                    
            
            .form-group
                margin-bottom: 0
                position: relative

                &.red_group
                    &::after
                        content: ''
                        position: absolute
                        right: 18px
                        top: 16px
                        background-image: url('../img2/invalid.svg')
                        width: 20px
                        height: 20px
                    
                &.valid_group
                    &::after
                        content: ''
                        position: absolute
                        right: 18px
                        top: 16px
                        background-image: url('../img2/valid.svg')
                        width: 20px
                        height: 20px

                input:not([type=radio])

                    height: 48px
                    background: $white
                    font-size: 16px
                    +g-r
                    width: 100%
                    padding: 15px 26px
                    border: none
                    border-radius: 10px
                    color: $purple_3


                    & ~ .place-label
                        pointer-events: none
                        position: absolute
                        left: 26px 
                        +g-r
                        width: max-content 
                        top: 12px 
                        color: $purple_3
                        transition: 0.3s 
                        z-index: 1 
                        margin-bottom: 0 !important
                    
                        span
                            color: $pink_2
                            margin-left: -3px
                
                    &:focus ~ .place-label , &.has-content ~ .place-label
                        transition: 0.1s 
                        opacity: 0
                
            .min-password
                padding-top: 5px
                color: $purple_3
                font-size: 10px
                +g-r
                line-height: 10px
                padding-left: 26px  
                    
            .password-visibility
                position: absolute
                top: 19px
                right: 18px
            
            .error-message
                padding-left: 26px
                padding-top: 4px
                color: $pink_2
                font-size: 10px
                +g-r
                line-height: 10px
            .user-form-btn
                padding-top: 15px
                button
                    width: 100%
                    background: $pink_1
                    border-radius: 10px
                    color: $white
                    +g-sb
                    font-size: 18px
                    line-height: 18px
                    height: 46px
                    border: none
            .again-send-btn
                padding-top: 10px
                button    
                    width: 100%
                    background: $white
                    border-radius: 10px
                    color: $purple_3
                    +g-sb
                    font-size: 18px
                    line-height: 18px
                    height: 46px
                    border: none
            .forget-password
                padding-top: 12px
                display: flex
                justify-content: flex-end
                a
                    color: $purple_3
                    font-size: 12px
                    +g-sb
                    line-height: 12px
                    border-bottom: 0.5px solid $purple_3
                    padding-bottom: 5px
            .with-other-account
                display: grid
                grid-template-columns: 1fr 1fr
                grid-gap: 20px
                padding-top: 28px
                a
                    width: 100%
                .other-account-item
                    border: 1px solid $purple_3
                    border-radius: 10px
                    display: flex
                    align-items: center
                    grid-gap: 12px
                    padding: 10px 28px
                    span
                        +g-sb
                        font-size: 12px
                        line-height: 12px
                        color: $purple_3

.user-info
    .user-info-box
        display: grid
        grid-template-columns: auto 1fr
        padding: 31px 0px 60px
        .user-info-left
            width: 285px
            ul
                background: #F6F2FB
                border-radius: 10px
                padding: 5px 20px 12px 16px
                li:not(:last-child)
                    border-bottom: 1px solid $purple_1
                li
                    a
                        padding: 20px 0px 17px
                        display: flex
                        justify-content: space-between
                        align-items: center
                        p
                            margin-top: -6px
                            font-size: 20px
                            +g-r
                            line-height: 13px
                            color: $purple_3
                .active
                    a
                        p
                            +g-b    

        .user-info-right
            overflow: hidden
            width: 100%
            .account-info-part
                margin-left: 102px
                width: 611px
                p
                    color: $purple_3
                    padding-left: 26px
                    font-size: 18px
                    line-height: 16px
                    +g-b
                    padding-bottom: 10px
                
                form
                    .input-items
                        display: grid
                        grid-gap: 10px
                    .other-input-item
                        padding-top: 40px
                        
                    label.error
                        display: none !important    
                    .form-group
                        margin-bottom: 0
                        position: relative

                        &.red_group
                            &::after
                                content: ''
                                position: absolute
                                right: 18px
                                top: 16px
                                background-image: url('../img2/invalid.svg')
                                width: 20px
                                height: 20px
                            
                        &.valid_group
                            &::after
                                content: ''
                                position: absolute
                                right: 18px
                                top: 16px
                                background-image: url('../img2/valid.svg')
                                width: 20px
                                height: 20px

                        .nice-select
                            width: 100%
                            height: 48px
                            padding: 17px 26px 15px
                            background-color: #F6F2FB
                            border: 1px solid #F6F2FB
                            border-radius: 5px
                            color: $purple_3
                            span
                                font-size: 16px
                                +g-r
                                line-height: 16px
                                color: $purple_3


                        input:not([type=radio])
                            height: 48px
                            background: #F6F2FB
                            font-size: 16px
                            +g-r
                            width: 100%
                            padding: 16px 16px 16px 26px
                            border: none
                            border-radius: 5px
                            color: $purple_3


                            & ~ .place-label
                                pointer-events: none
                                position: absolute
                                left: 26px 
                                +g-r
                                width: max-content 
                                top: 11px 
                                color: $purple_3
                                transition: 0.3s 
                                z-index: 1 
                                margin-bottom: 0 !important
                            
                                span
                                    color: $pink_2
                                    margin-left: -3px
                        
                            &:focus ~ .place-label , &.has-content ~ .place-label
                                transition: 0.1s 
                                opacity: 0

                        input[type=date]
                            &::-webkit-inner-spin-button,
                            &::-webkit-calendar-picker-indicator
                                opacity: 0
                    .date-input
                        &::after
                            content: none !important
                        .date-icon
                            pointer-events: none
                            cursor: pointer
                            position: absolute
                            top: 10px
                            right: 18px


                            
        
                    .form-footer
                        margin-top: 75px            

                        button
                            height: 46px
                            width: 230px
                            border-radius: 5px
                            border: none
                            +g-sb
                            font-size: 18px
                            line-height: 18px
                            border: 1px solid $purple_1
                        .save-btn
                            button
                                background: $purple_1
                                color: $white

                        .edit-btn
                            button
                                background: $white
                                color: $purple_1

            .order-history-part
                margin-left: 42px
                max-width: 820px

                .title
                    color: $purple_3
                    font-size: 30px
                    line-height: 30px
                    +g-b
                    padding-bottom: 15px
                
                .order-date-filter
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-gap: 44px
                    
                    .otder-date-item
                        display: flex
                        align-items: center
                        grid-gap: 12px
                        .order-date-input
                            position: relative
                        
                        .text
                            color: $purple_3
                            font-size: 16px
                            +g-b
                            line-height: 16px
                        .date-icon
                            pointer-events: none
                            cursor: pointer
                            position: absolute
                            top: 13px
                            right: 18px
                        input[type=date]
                            border: 1px solid #D5D3ED
                            border-radius: 8px
                            height: 48px
                            width: 226px
                            padding: 15px 18px
                            &::-webkit-inner-spin-button,
                            &::-webkit-calendar-picker-indicator
                                opacity: 0
                
                .order-invoice-table
                    margin-top: 22px
                    overflow-x: auto
                    padding-bottom: 20px


                    ul
                        width: 873px
                        grid-gap: 5px
                        display: grid
                    .table-header
                        background: $pink_1 !important
                        border-radius: 16px !important
                        border: none !important
                        li
                            color: $white !important
                            +g-sb

                    .table-item
                        border-radius: 8px
                        &:nth-last-of-type(odd)
                            background: #F6F2FB
                            border: 0.5px solid #F6F2FB
                        &:nth-last-of-type(even)
                            background: #D5D3ED 
                            border: 0.5px solid #D5D3ED 
                        &:hover
                            transition: .5s
                            border: 0.5px solid $pink_1 

                        ul
                            display: grid
                            padding: 16px 24px 15px 42px
                            grid-template-columns: 1fr 1fr 1fr 1fr
                            grid-gap: 20px
                            li
                                color: $purple_3
                                font-size: 18px
                                +g-r
                                word-break: break-word
                                line-height: 18px
                                &:last-child
                                    text-align: center
                                    display: flex
                                    align-items: center
                                    grid-gap: 12px
                .scroll-text
                        align-items: center
                        justify-content: flex-end
                        display: none
                        grid-gap: 6px
                        padding-top: 10px
                        padding-bottom: 20px
                        img
                            margin-top: 2px
                        p
                            color: $purple_1
                            font-size: 12px     
                            +g-r  
                                        
            
            .invoice-details
                margin-left: 42px
                max-width: 820px
                .main-title
                    margin-bottom: 17px
                    color: $purple_3
                    font-size: 30px
                    line-height: 30px
                    +g-b
                    
                .detail-info
                    display: grid
                    grid-gap: 20px
                    grid-template-columns: 1fr 1fr 1fr 1fr

                    .title
                        color: #D5D3ED
                        font-size: 16px
                        line-height: 16px
                        +g-sb
                    p
                        padding-top: 10px
                        color: $purple_3
                        +g-sb
                        font-size: 14px
                        line-height: 16px
                    
                    
                    
                    .invoice-price
                        p
                            padding-top: 13px
                            color: $pink_2
                            font-size: 25px
                            line-height: 16px
                            +g-b    

                .invoice-detail-table
                    margin-top: 22px
                    overflow-x: auto
                    padding-bottom: 20px

                    ul
                        max-width: 873px
                        grid-gap: 5px
                        display: grid
                    .table-header
                        background: $pink_1 !important
                        border-radius: 16px !important
                        border: none !important
                        li
                            color: $white !important
                            +g-sb

                    .table-item
                        border-radius: 8px
                        &:nth-last-of-type(odd)
                            background: #F6F2FB
                            border: 0.5px solid #F6F2FB
                        &:nth-last-of-type(even)
                            background: #D5D3ED 
                            border: 0.5px solid #D5D3ED 
                        
                        ul
                            width: 873px
                            display: grid
                            padding: 16px 24px 15px 60px
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr
                            grid-gap: 20px
                            li
                                color: $purple_3
                                font-size: 18px
                                +g-r
                                word-break: break-word
                                line-height: 18px
                                &:first-child
                                    white-space: nowrap
                                    overflow: hidden
                                    text-overflow: ellipsis
                .scroll-text
                        align-items: center
                        justify-content: flex-end
                        display: none
                        grid-gap: 6px
                        padding-top: 10px
                        padding-bottom: 20px
                        img
                            margin-top: 2px
                        p
                            color: $purple_1
                            font-size: 12px     
                            +g-r                           


.failed
    .failed-box
        padding-top: 33px
        margin: 0 auto 
        overflow-x: hidden
        .failed-img
            max-width: 569px
            max-height: 673px
            position: relative
            margin-left: 60px
            img
                width: 100%
                height: 100%
                object-fit: contain
                -o-object-fit: contain
            p
                position: absolute
                bottom: 100px
                left: 90px
                color: $purple_3
                font-size: 25px
                line-height: 25px
                +g-sb


@media (max-width: 1200px) 
    section.user-info
        .user-info-box
            .user-info-right
                .account-info-part
                    width: 500px

@media (max-width: 992px) 
    section.user-info
        .user-info-box
            display: grid
            grid-template-columns: 1fr
            grid-gap: 64px
            width: 100%
            .user-info-right
                .account-info-part
                    margin-left: 0px
                .order-history-part
                    margin: 0 auto    

                .invoice-details
                    margin: 0 auto 
                                     

@media (max-width: 768px) 
        
    section.form-contents
        .user-form
            max-width: 591
            width: 100%
            margin: 59px auto
           
            &.account
                .user-form-header
                    grid-gap: 15px
                    a
                        height: 48px
                        margin-left: 10px
                        margin-right: 10px
                        width: 172px

            &.password-forget
                .user-form-header
                    .title
                        font-size: 30px
                        +g-r
                        line-height: 30px
                    p
                        padding-top: 5px
                        font-size: 16px
                        +g-r
                        line-height: 30px   
            
            &.again-mail
                .user-form-header
                    padding-bottom: 19px
                    .title
                        font-size: 30px
                        +g-r
                        line-height: 30px
                    p
                        padding-top: 5px
                        font-size: 16px
                        +g-r
                        line-height: 18px   
                        max-width: 370px
                .user-form-body
                    .again-login-btn
                        padding-top: 0


            .user-form-body
                padding: 37px 25px 37px
              
                .with-other-account
                    grid-gap: 15px
                    padding-top: 28px

                    .other-account-item
                        padding: 10px 15px

    section.user-info
        .user-info-box
            .user-info-left
                max-width: 285px
                

            .user-info-right
                margin-right: -25px
                overflow: hidden
                .account-info-part
                    max-width: unset
                    width: 100%
                    margin: 0 auto
                .order-history-part
                    max-width: unset
                    width: 100%
                    margin: 0 auto
                    .title
                        padding-right: 25px
                        font-size: 20px
                        +g-r
                        line-height: 20px
                        padding-bottom: 16px
                    
                    .order-date-filter
                        padding-right: 25px
                        flex-direction: column
                        grid-gap: 20px

                        
                        .otder-date-item
                            flex-direction: column
                            align-items: flex-start
                            grid-gap: 12px
                            
                            
                    .order-invoice-table
                        padding-bottom: 30px
                        .table-item
                            ul
                                padding: 16px 24px 15px 60px
                                grid-gap: 15px
                                
                    .scroll-text
                        display: flex

                .invoice-details
                    .detail-info
                        grid-gap: 25px
                        display: grid
                        grid-template-columns: 1fr

                    
                    .invoice-detail-table
                        padding-bottom: 30px
                        .table-item
                            ul
                                padding: 16px 24px 15px 60px
                                grid-gap: 15px
                                
                    .scroll-text
                        display: flex
                

    section.failed
        .failed-box
            .failed-img
                p
                    left: 60px
                img
                    margin-left: 0px
               
                
@media (max-width: 576px) 
        
    section.form-contents
        .user-form-box
            padding: 59px 0px 60px
        .user-form
            .user-form-body
              
                .with-other-account
                    .other-account-item
                        span
                            font-size: 10px
                            +g-r
                            line-height: 10px
                        img
                            width: 24px
                            height: 24px
            .user-form-header
                .title
                    padding-left: 30px
                    padding-right: 30px
                p
                    padding-left: 30px
                    padding-right: 30px    


    section.user-info
        .user-info-box
            padding: 24px 25px 50px
            
            .user-info-left
                max-width: 285px
                width: 100%
                ul
                    padding: 2px 19px 3px 16px
                    
                    li
                        a
                            padding: 15px 0px
                            p
                                margin-top: -3px
                                font-size: 15px
                                +g-r
                                line-height: 13px
                    
            
                    

     
    section.failed
        .failed-box
            padding: 48px 30px 0
            .failed-img
                max-width: 386px
                max-height: 456px
                margin-left: 30px
                p
                    bottom: 16%
                    left: 17%
                    font-size: 15px
                    +g-r
                    line-height: 15px

@media (max-width: 400px) 
    section.failed
        .failed-box
            .failed-img
                p
                    left: 14%
                    font-size: 13px
                    +g-r

    
    
    section.user-info
        .user-info-box
            .user-info-left
                max-width: unset
                width: 100%
            .user-info-right
                .account-info-part
                    form
                        .form-footer
                            button
                                max-width: unset
                                width: 100%
            
                .order-history-part 
                        
                        .order-date-filter 
                            .otder-date-item 
                                .order-date-input
                                    width: 100%
                                input[type=date]
                                    width: 100%                                
                        