.blog_galery_container
  padding-bottom: 35px
  &.galery_paint_container
    padding-bottom: 80px
    .galery_main_boxes
      grid-gap: 49px 20px
  
  .see_more
    margin: 30px auto

.galery_main_boxes
  display: grid
  grid-template-columns: repeat( 3 , 1fr )
  grid-auto-rows: minmax(min-content, max-content)
  grid-gap: 10px 20px
  .galery_same_box
    display: flex
    flex-direction: column
    grid-gap: 19px
    &:hover
      .galery_img
        img
          padding: 3px 5px

    .galery_img
      border-radius: 4px
      border: .5px solid rgb(46, 116,191)
      border-radius: 4px
      height: 340px
      img
        padding: 12px 20px
        width: 100%
        height: 100%
        transition: padding .5s
      
    .galery_title
      p
        +g-b-20
        color: $pink_1
        text-align: center
        word-break: break-word
        padding: 0 8px
        max-height: 48px
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2

  

  