header
  background: $white
  // display: none
  .header_main_container
    width: 100%
    .header_top_container
      background: $purple_3
      width: 100%
      .header_top_flex
        display: flex
        align-items: center
        justify-content: flex-end
        grid-gap: 51px
        height: 54px
        width: 100%
        a
          color: #F9F5F0
          +g-sb
          font-size: 12px
          line-height: 12px
          transition: color .5s
          svg
            path
              transition: fill .5s
          &:first-child
            +flex_2
            grid-gap: 2px
            margin-right: 10px
          &:hover
            color: $purple_1
            svg
              path
                fill: $purple_1

          &:nth-of-type(2)
            +g-b
            
        .languages
          display: flex
          align-items: center
          a
            +g-sb

            &:first-child
              border-right: 1px solid $white
              padding-right: 10px

    .header_middle_container
      padding: 28.5px 0
      .header_middle_box
        display: grid
        grid-template-columns: min-content 1fr
        grid-gap: 36px
        width: 100%
        align-items: center
        
        a.logo
          color: $white
          +g-eb
          font-size: 55px
          line-height: 60px

        form
          height: 50px
          display: flex
          align-items: center
          position: relative
          &::before
            content: ''
            position: absolute
            top: 15px
            left: 20px
            width: 22px
            height: 22px
            background-image: url('../img/search.svg')
          input
            height: 50px
            width: 100%
            border: 1px solid #39105C
            background: transparent
            border-radius: 67px
            padding: 0 55px
            margin-right: -45px
            +g-m-18
            color: $pink_1
            &::placeholder
              +g-m-18
              color: $purple_1
          button
            width: 183px
            height: 50px
            border-radius: 67px
            +flex_2
            +g-b-18
      
        .hamburger
          display: none

        nav
          +flex_1
          width: 100%
          grid-column: 2

          a
            color: $white
            +g-b-20
            position: relative
            transition: all .5s

            &:not(.header_icon)
              &::before
                content: ''
                position: absolute
                left: 0
                bottom: -2px
                width: 100%
                height: 1px
                background-color: $white
                opacity: 0
                visibility: hidden
                transition: opacity .5s

            &:not(.header_icon)
              &:hover
                &::before
                  opacity: 1
                  visibility: visible
              

            &.active
              &::before
                content: ''
                position: absolute
                left: 0
                bottom: -2px
                width: 100%
                height: 1px
                background-color: $white

          div.icons-right
            display: flex
            align-items: center
            grid-gap: 23px
            a
              &:hover
                &::before
                  display: none

    .header_list
      background: $purple_2
      border-radius: 70px 70px 0 0
      ul
        +flex_1
        li
          width: 100%
          display: flex
          position: relative
          height: 81px
          align-items: center
          >a
            color: rgba(255, 255, 255, .6)
            transition: color .5s
            span
              position: relative
              +g-b-18
              line-height: 18px
          
          &.list_link
            >a
              height: max-content
              border-right: 1px solid $white
              padding-right: 65px
            &.active
              a
                span
                  color: $white
                  &::before
                    content: ''
                    position: absolute
                    left: 0
                    bottom: -2px
                    background: $white
                    height: 1px
                    width: 100%

            &:not(:first-child)
              >a
                padding-left: 65px
              
          &:not(.list_link)
            a
              svg
                path
                  transition: fill .5s

              &:hover
                svg
                  path
                    fill: $purple_1
          
          &:nth-last-child(2),
          &:nth-last-child(3),
          &:nth-last-child(4)
            margin-right: 65px

          &.has-submenu
            .submenu_parent
              padding: 6px 65px 30px
              background: $purple_2
              border-radius: 0px 0px 15px 15px
              position: absolute
              left: 0
              top: 100%
              z-index: 55
              width: max-content
              opacity: 0
              visibility: hidden
              transition: opacity .5s
              .inner_parent
                display: grid
                grid-template-rows: repeat(9,min-content)
                grid-auto-flow: column
                grid-gap: 16px 96px
                a
                  +g-m-14
                  color: $white
                  height: max-content
                  transition: color .5s
                  &:hover
                    color: $purple_1

          &:hover
            > a
              color: $purple_1

            .submenu_parent
              opacity: 1
              visibility: visible

.header_overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: #D5D3ED
  visibility: hidden
  width: 0
  left: 50%
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s
  transition: width 0.5s 0.3s, visibility 0s 0.8s
  z-index: 101

  .overlay_loop
    position: relative
    height: 100%
    padding: 31px 25px 100px
    opacity: 0
    visibility: hidden
    -webkit-transition: opacity 0.3s 0.5s
    transition: opacity 0.3s 0.5s
    text-align: center
    overflow: auto

    .company_header_box
      min-height: 100%
      margin-top: 15px
      ul.main_ul
        display: grid
        grid-gap: 25px
        margin-top: 65px
        .has-submenu-link
          &:not(:last-child)
            padding-bottom: 17px
            border-bottom: 1px solid $white
          >div
            +flex_1
            grid-gap: 18px
            button
              transition: transform .5s
              &.rotate
                transform: rotate(90deg)
          .submenu
            display: none
            margin-top: 25px
            ul
              display: flex
              flex-direction: column
              grid-gap: 22px
              align-items: flex-start
              max-height: 215px
              overflow-y: auto
              &::-webkit-scrollbar 
                  width: 4px
                  scroll-behavior: smooth
                  height: 5px

              /* Track */
              &::-webkit-scrollbar-track 
                background: $webkit_scroll
                scroll-behavior: smooth
              
              /* Handle */
              &::-webkit-scrollbar-thumb 
                background: $purple_1
                scroll-behavior: smooth

              li
                a
                  +g-m
                  font-size: 14px
                  line-height: 18px
                  color: $purple_3
                  word-break: break-word
                  padding-right: 15px
          >div 
            a
              +g-b
              font-size: 16px
              line-height: 18px
              color: $purple_3
          
    .overlay_heading
      +flex_1
      >a
        color: $white
        +g-eb
        font-size: 45px
        line-height: 50px

      .overlay_close
        img
          width: 18px
          height: 18px

    nav
      margin-top: 20%
      margin-bottom: auto
      ul.list-unstyled
        display: flex
        flex-direction: column
        align-items: flex-start
        width: max-content
        grid-gap: 35px
        li
          &:not(.has-submenu-link)
            a
              +g-b-25
          
          &.has-submenu-link
            > div
              display: flex
              align-items: center
              grid-gap: 25px
              a
                +g-m-20
              
              button
                transition: transform .3s
                &.rotate
                  transform: rotate(90deg)
            .submenu
              display: none
              ul
                display: flex
                flex-direction: column
                align-items: flex-start
                grid-gap: 25px
                margin: 25px 0 15px
                li
                  a
                    +g-m
                    font-size: 18px
                    line-height: 22px
                    color: $white
          a
            color: white
    
    .second_list
      display: flex
      flex-direction: column
      align-items: flex-start
      grid-gap: 30px
      margin-top: 60px
      a
        +g-r-18
        color: $white
        span
          font-weight: bold
    
    .overlay_footer
      +flex_1
      justify-content: center
      margin-top: 7vh
      .over_footer_favs
        display: flex
        align-items: center
        grid-gap: 40px
        a
          img
            height: 30px
            width: 30px
      
      .over_footer_langs
        display: flex
        align-items: center
        a
          +g-m
          font-size: 18px
          line-height: 20px
          color: $purple_1
          &:first-child
            margin-right: 15px
            padding-right: 15px
            border-right: 1px solid $purple_1

    form
      height: 40px
      display: flex
      align-items: center
      position: relative
      &::before
        content: ''
        position: absolute
        top: 13px
        left: 16px
        width: 16px
        height: 16px
        background-image: url('../img/search.svg')
        background-size: cover
      input
        height: 40px
        width: 100%
        background: transparent
        border-radius: 67px
        padding: 0 55px 0 45px
        margin-right: -45px
        +g-m-18
        color: #39105C
        border: 1px solid #39105C
        &::placeholder
          +g-m-18
          color: #39105C
      button
        width: 115px
        height: 40px
        
        border-radius: 67px
        +flex_2
        
        +g-b-18


  &.open
    visibility: visible
    width: 100%
    -webkit-transition: width 0.5s
    transition: width 0.5s
    

    .overlay_loop
      visibility: visible
      opacity: 1
      -webkit-transition-delay: 0.5s
      transition-delay: 0.5s
