section.index
  .main_section_container
    .index-landing
      display: grid
      grid-template-columns: 42% 58%
      height: 700px
      .landing_left
        position: relative
        background-size: cover
        background-position: center
        display: flex
        align-items: center
        justify-content: flex-end
        flex-direction: column

        &::after
          position: absolute
          content: ''
          left: 0
          bottom: 0
          width: 100%
          height: 70%
          background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, #010101 100%)
          mix-blend-mode: multiply
          opacity: 0.8

        .left_absolute
          width: 290px
          display: flex
          flex-direction: column
          justify-content: center
          grid-gap: 6px
          color: $white
          text-align: center
          margin-bottom: 70px
          position: relative
          z-index: 55
          .heading_left
            +g-b
            font-size: 60px
            line-height: 61px
          .go_pay
            +g-sb
            font-size: 16px
            line-height: 16px
            position: relative
            width: max-content
            margin: auto
            transition: color .5s
            &::after
              content: ''
              position: absolute
              left: 0
              bottom: -5px
              height: 1px
              width: 100%
              background-color: $white
              transition: background-color .5s
            &:hover
              color: $purple_1
              &::after
                background-color: $purple_1
      
      .landing_right
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr 
        height: 100%
        position: relative
        .landing-absolute-right-icons
          position: absolute
          z-index: 88888
          opacity: 1
          display: flex
          flex-direction: column
          right: 0
          margin-top: auto
          margin-bottom: auto
          top: 50%
          transform: translate(0, -50%)
          a
            height: 72px
            width: 72px
            +flex_2
            background: white
            border-radius: 29px 0 0
            &:nth-of-type(2)
              border-radius: 0 0 0 29px
          
          &::before
            content: ''
            position: absolute
            width: 100%
            height: 0.2px
            background: #4EA2E8
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
          
        .right_rectangular
          flex: 0 0 50%
          padding: 16px 25px
          display: flex
          align-items: flex-end
          color: $white
          position: relative
          background-size: cover
          background-position: center
          &::after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background: #000000
            mix-blend-mode: multiply
            opacity: 0.25

          p.header_rec
            +g-sb
            font-size: 20px
            line-height: 23px
            width: 165px
            position: relative
            z-index: 7
               
    .same_bottom_container
      margin-top: 55px
      &:not(:first-child)
        margin-top: 120px
         
      .same_img_boxes 
        height: max-content
        margin-bottom: 35px 
      
        .swiper-slide-img
          height: 350px
          img
            height: 100%
            object-fit: cover
            width: 100%
      
      .swiper_4_boxes
        display: flex
        grid-gap: 20px
        .four_swiper
          .swiper-wrapper
            .swiper-slide
              height: max-content
            &.disabled
              display: grid
              grid-template-columns: repeat(4,1fr)
              grid-gap: 20px
              grid-auto-rows: minmax(min-content, max-content)

        .column-right
          width: 387px
          flex: none
          .column_inner_box
            width: 100%
            border-radius: 12px
            height: 100%
          
          .column_form_container
            display: flex
            flex-direction: column
            height: 100%
            padding: 40px 20px 50px
            background-color: rgb(178, 219, 255)
            border-radius: 12px

            .column_form_header
              color: #025BB3
              +g-b
              font-size: 30px
              line-height: 42px
            
            .column_form_content
              +g-r-14
              line-height: 18px
              color: $white
              margin: 21px 0 12px
            
            form
              display: flex
              height: 46px
              width: 100%
              grid-gap: 9px
              input
                border: 1px solid $purple_2
                border-radius: 4px
                height: 100%
                padding: 11px 14px 8px
                +g-r-16
                color: $white
                background-color: transparent
                width: 100%

                &::placeholder
                  +g-l
                  font-size: 15px
                  color: $white
              
              button
                height: 100%
                min-width: 88px
              
            .form_img
              +flex_2
              max-height: 308px
              margin-top: auto

      &.left_four_swiper
        .swiper_4_boxes
          .swiper-container
            order: 2
          
          .column-right
            order: 1

      &.colors_box_container
        .img_grid_main
          display: flex
          align-items: center
          justify-content: space-between
          
          .colored_buttons
            display: flex
            flex-direction: column
            grid-gap: 23px

            div.colored_box
              width: max-content
              position: relative
              background: $white
              transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1)
              border-radius: 4px

              a
                position: relative
                +flex_2
                padding: 6.5px 12px
                +g-sb
                font-size: 20px
                line-height: 27px
                color: $purple_2 
                transition: all .5s
                
              &::after , &::before
                content: ''
                position: absolute	
                transition: inherit
                top: 0
                width: 0
                height: 100%
                border-radius: 4px
              
              &::after
                left: 0

              &:hover
                a
                  color: $white
                  z-index: 888
                  border-radius: 4px 


                &::after
                  // transition-delay: .35s
                  width: 100%

                &::before
                  transition-delay: 0s
                  width: 100%
              

              &::before
                right: 0
                border-left: 0
                border-right: 0

          .imgages_paint_galery
            display: grid
            grid-template-columns: 55% 45%
            .image_galery_single
              display: flex
              img
                border-radius: 4px
                max-width: 100%
                height: 100%
              &:nth-of-type(1)
                padding-right: 10px
                padding-bottom: 10px
                border-bottom: 1px solid $orange
                border-right: 1px solid $orange
                justify-content: flex-end
                align-items: flex-end
                img
              &:nth-of-type(2)
                padding-left: 10px
                padding-bottom: 10px
                border-bottom: 1px solid $orange
                justify-content: flex-start
                align-items: flex-start
                img
              &:nth-of-type(3)
                padding-top: 10px
                padding-right: 10px
                border-right: 1px solid $orange
                justify-content: flex-end
                align-items: flex-end
                img
                  width: 100%
              &:nth-of-type(4)
                padding-left: 10px
                padding-top: 10px
                justify-content: flex-start
                align-items: flex-start
                img
                  width: 100%
                

