.project_inner
  .project_inner_container
    margin-bottom: 69px
    .project_top_container
      display: flex
      grid-gap: 102px
      margin-top: 32px
      .product-img
        width: 50%
        display: flex
        flex-direction: column
        flex: 1
        .project_loop_box
          width: 100%
          height: 720px
          img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 5px
        .other-product-imgs
          padding-right: 35px
          margin-top: 15px
          align-items: center
          img
            cursor: pointer
          
          .owl-stage-outer
            right: 20px
          .owl-nav
            position: absolute
            right: -16px
            top: 38%
            svg 
              path
                fill: #262254  
          .owl-prev
            display: none


          .other-imgs
            align-items: center
          .other-img-item
            width: 75px
            height: 81px
            img
              border-radius: 5px
              width: 100%
              height: 100%
              object-fit: cover
      .project_inner_detail
        flex: 1
        display: flex
        flex-direction: column
        // justify-content: space-between
        .title
          color: $purple_3
          font-size: 16px
          line-height: 20px
          +g-b
        .project_name
          +g-b
          font-size: 25px
          line-height: 27px
          word-break: break-word
          color: $purple_3
          margin-bottom: 9px

        .project_inner_middle
          .project_inner_number
            display: flex
            margin-bottom: 27px
            p
              +g-r
              font-size: 13px
              line-height: 10px
              color: $purple_1
          .body_size
            display: flex
            grid-gap: 8px  
            padding-top: 5px
            padding-bottom: 20px
            .body_size_item
              text-align: center
              border: 0.5px solid $purple_2
              border-radius: 4px
              font-size: 12px
              line-height: 12px
              color: $purple_3
              padding: 6px 12px
              width: 36px
              text-transform: uppercase
          .product_color
            display: flex
            grid-gap: 7px
            padding-bottom: 44px
            padding-top: 5px
            .product_color_item
              width: 24px
              height: 24px
              border: 0.5px solid $purple_3  
              border-radius: 50%  
              &:nth-child(1)
                background: #1E1B1B
              &:nth-child(2)
                background: #24D8E4
              &:nth-child(3)
                background: #3324E4
              &:nth-child(4)
                background: #F7F6FB
                  
                
          .project_inner_operation
            display: flex
            align-items: center
            grid-gap: 39px
            .inner_count_box
              display: flex
              align-items: center
              grid-gap: 3px
              height: 33px
              width: 116px
              padding: 10px 20px
              border: 1px solid $purple_3
              border-radius: 5px
              input
                width: 100%
                +g-b-16
                color: $purple_3
                text-align: center
              
              button
                +g-m
                font-size: 23px
                line-height: 26px
                width: 12px
                height: 12px
                +flex_2
                color: $purple_3

            .product_price
              display: flex
              align-items: flex-end
              grid-gap: 10px
              >*
              div
                +g-r
                span
                  +g-b
                  margin-right: 2px
                p
                  margin-right: 2px
                  +g-b
              .current_price
                color: $purple_3
                font-size: 30px
                line-height: 27px
              .prev_price
                display: flex
                text-decoration: line-through 1px #FFA45E
                color: #D7C9EC
                font-size: 18px
                line-height: 18px    




        .project_inner_btns
          padding-top: 18px
          display: grid
          grid-template-columns: 1fr auto 
          grid-gap: 46px
          .add-basketbox
            background: $pink_2
            color: $white
            font-size: 18px
            line-height: 18px
            height: 46px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 5px
            +g-sb

          .add-wishlist
            width: 46px
            height: 46px
            border-radius: 50%
            background: #FFFFFF
            box-shadow: 0px 3px 6px rgba(38, 34, 84, 0.14)
            margin-right: 67px
            &:hover
              svg path
                fill: $pink_1
        .product_info
          padding-top: 47px
          >*
            color: $purple_3
            font-size: 18px
            line-height: 32px
            +g-r
          .title
            line-height: 18px
            padding-bottom: 12px
            +g-b
          ul
            ul
              margin-left: -19px
              li
                display: flex
                align-items: center
                grid-gap: 11px
               
              span
                width: 8px
                border-radius: 50%
                height: 8px
                display: inline-flex
                background: $pink_2
    
    
    .project_inner_table_info
      display: grid
      grid-gap: 5px
      padding: 92px 0 77px
      .project_inner_heading
        display: grid
        grid-template-columns: 1fr 330px
        grid-gap: 40px
        background-color:  $pink_1
        border-radius: 20px
        padding: 17px 46px 14px
        p
          +g-sb
          font-size: 18px
          line-height: 23px
          color: $white
      
      .project_inner_body
        display: grid
        grid-gap: 5px
        .project_body_row
          display: grid
          grid-template-columns: 1fr 330px
          grid-gap: 40px
          padding: 17px 46px 16px
          border-radius: 8px
          &:nth-of-type(2n+1)
            background-color:#F6F2FB
          &:nth-of-type(2n)
            background-color: #D5D3ED
          p
            +g-r-16
            line-height: 21px
            color: $purple_2