section
  .filter
    display: none
  .main_section_container
    background: $white
    .repeat_section_links
      padding-top: 33px
      position: relative
      z-index: 88
      // display: none
      height: 108px
      .hovered_links
        display: flex
        width: 100%
        justify-content: space-between
        .link_parent
          width: 150px
          height: max-content
          position: relative
          text-align: center
          transition: all .5s
          border-top: 1px solid $purple_2
          &:not(:last-child)
            margin-right: 25px
            &:hover
              margin-right: -8px
          
          &:last-child
            &:hover
              margin-left: -33px

          &:hover
            width: 183px
            background: $purple_2
            border-radius: 4px 4px 0 0
            .main_link
              +g-r-18
              color: $white
              line-height: 20px
            
            .link_child
              opacity: 1
              visibility: visible
              pointer-events: auto

          .main_link
            +g-r-16
            padding: 0 15px 15px
            line-height: 20px
            color: $purple_2
            padding-top: 10px
            transition: all .5s
            width: 100%
          
          .link_child
            position: absolute
            left: 0
            top: 100%
            display: flex
            background: $purple_2
            flex-direction: column
            grid-gap: 20px
            width: 100%
            padding: 5px 0 15px
            opacity: 0
            pointer-events: none
            visibility: hidden
            transition: opacity .5s
            a
              +g-r-13
              color: $white

    .repeat_main_container
      padding-bottom: 113px
      .filter_grid
        display: flex
        grid-gap: 20px
        justify-content: space-between
        .paint_main_grid
          width: 100%
          display: flex
          flex-direction: column
          .paints_grid
            display: grid
            grid-template-columns: repeat( 3 , 1fr )
            grid-gap: 30px 20px
            grid-auto-rows: minmax(min-content, max-content)
        
        aside
          min-width: 285px
          background-color: $aside_back
          border-radius: 10px
          padding: 35px 17px 33px
          height: max-content
          &::-webkit-scrollbar 
            width: 4px
            scroll-behavior: smooth
            height: 5px

          /* Track */
          &::-webkit-scrollbar-track 
            background: $webkit_scroll
            scroll-behavior: smooth
          
          /* Handle */
          &::-webkit-scrollbar-thumb 
            background: $purple_1
            scroll-behavior: smooth
            
          button.esc
            display: none
          
          .left_filter_box
            width: 100%
            display: flex
            flex-direction: column
            grid-gap: 25px
            position: relative


            .filter_header
              +flex_1
              .filter_title
                +g-b-20
                line-height: 20px
                color: $purple_3
              
              #clean
                +g-m-13
                line-height: 13px
                color: $purple_1

            .filter_operation
              display: grid
              grid-gap: 25px

              .filter_special_box
                &:not(:last-child)
                  padding-bottom: 25px
                  border-bottom: 1px solid rgba(154, 119, 207, .7)
                  
                .f_spe_heading
                  display: flex
                  grid-gap: 10px
                  align-items: center
                  +g-m-20
                  line-height: 20px
                  color: $purple_3
                  width: max-content
                  position: relative
                  cursor: pointer
                  img
                    transform: rotate(180deg)
                    transition: transform .5s
                  
                  &.rotate
                    img
                      transform: rotate(360deg)
                  
                .block
                  display: none
                  &:not(.range-block)
                    margin-top: 23px
                  
                  &.range-block
                    position: relative
                    .label_box
                      margin-top: 20px
                  
                  .irs--big
                    margin: 20px auto 0
                    .irs-min,.irs-max
                      background: none
                      border-radius: 0
                      +g-r-13
                      color: $purple_2 
                    .irs-from, .irs-to
                      background: none
                      border-radius: 0
                      +g-r-13
                      color: $purple_2 
                      padding: 0
                    
                    .irs-single
                      background: $purple_2
                      border-radius: 0
                      +g-r-13
                      color: $white
                      
                    .irs-line
                      background: none
                      border-radius: 3px
                      box-shadow: none
                    
                    .irs-bar
                      background-color: $purple_1
                      box-shadow: none
                      border-radius: 3px
                    
                    .irs-handle
                      background: $pink_2
                      border: none
                  
                  .label_box
                    display: grid
                    grid-gap: 20px
                    max-height: 250px
                    overflow-y: auto
                    &::-webkit-scrollbar 
                        width: 4px
                        scroll-behavior: smooth
                        height: 5px

                    /* Track */
                    &::-webkit-scrollbar-track 
                      background: $webkit_scroll
                      scroll-behavior: smooth
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb 
                      background: $purple_1
                      scroll-behavior: smooth
                    .label_single
                      input:checked,
                      input:not(:checked) 
                        position: absolute
                        left: -9999px

                      input:checked + .label_project,
                      input:not(:checked) + .label_project
                        position: relative
                        cursor: pointer
                        line-height: 20px
                        display: inline-block
                        color: #666
                      
                      input:checked + .label_project:before,
                      input:not(:checked) + .label_project:before 
                          content: ''
                          position: absolute
                          left: 0
                          right: 0
                          top: 2px
                          width: 16px
                          height: 16px
                          border: .6px solid $purple_3
                          border-radius: 50%
                          background: $aside_back
                      
                      input:checked + .label_project:after,
                      input:not(:checked) + .label_project:after 
                          content: ''
                          width: 10px
                          height: 10px
                          background: $pink_2
                          position: absolute
                          left: 3px
                          top: 5px
                          right: 0
                          border-radius: 50%
                          -webkit-transition: all 0.2s ease
                          transition: all 0.2s ease
                      
                      input:not(:checked) + .label_project:after 
                          opacity: 0
                          -webkit-transform: scale(0)
                          transform: scale(0)
                      
                      input:checked + .label_project:after 
                          opacity: 1
                          -webkit-transform: scale(1)
                          transform: scale(1)
                      
                      .label_project
                        margin-bottom: 0
                        padding-left: 25px
                        +g-r-13
                        line-height: 13px
                        color: $purple_3

      .same_bottom_container
        margin-top: 100px
        position: relative

    .swiper-container
      .swiper-wrapper
          &.disabled
            transform: translate3d(0px, 0, 0) !important