section.search
  .repeat_main_container
    padding: 0
    .search_container
      margin-bottom: 110px
      margin-top: 43px
      .heading_container_same
        margin: 25px 0
      .same_grid_boxes
        display: grid
        grid-template-columns: repeat(4,1fr )
        grid-gap: 30px 20px
