@import '_fonts'
@import '_vars'
@import '_header'
@import '_footer'
@import '_index'
@import '_repeatPages'
@import '_category'
@import '_basket'
@import '_fag'
@import '_favourites'
@import '_pay'
@import '_contact'
@import '_about'
@import '_project_inner' 
@import '_search' 
@import '_form' 
@import '_responsive'

body
  background-color: $white

section
  min-height: 100vh
  display: flex
  flex-direction: column

footer
  margin-top: auto

button
  +btn_default


.same_bottom_container
  &.galeryBox
    margin-top: 30px !important
  .swiper-slide
    height: unset
    .paint_box
      height: 100%
.repeat_main_container
  width: 100%

.breadcrumbs
  margin: 15px 0
  width: max-content
  +flex_1
  grid-gap: 7px
  +g-m-12
  a
    color: $purple_3
  
  span
    color: $purple_1

.heading_container_same
  +flex_1
  margin: 28px 0 15px
  width: 100%
  p.title_same_heading
    +g-b-30
    line-height: 30px
    color: $purple_3
  
  p.search_count , p.basket_count
    +g-r-13
    line-height: 13px
    color: $purple_1
    span
      margin-left: 4px

button
  +btn_default

.container_4_grid
  display: grid
  grid-template-columns: repeat(4,1fr)
  grid-gap: 30px 20px
  
.same_grid_boxes
  height: max-content
  
a.see_all
  +g-m-15
  color: $purple_1
  transition: all .4s

  &:hover
    color: $purple_3

.paint_box
  display: flex
  flex-direction: column
  border: 1px solid #F1F1F1
  border-radius: 10px
  position: relative
  transition: box-shadow .5s
  padding: 22px 25px 10px
  border: 0.6px solid $purple_1

  &:hover
    box-shadow: 0px 4px 15px rgba(236, 236, 236, 0.85)

    
    &:hover::after
      opacity: 1
      
  .discount
    position: absolute
    top: 45px
    left: 0
    min-width: 122px
    height: 32px
    padding: 0 12px 0 25px
    +g-b-13
    color: $white
    background-color: $pink_2
    border-radius: 0 15px 15px 0
    +flex_2

  .paint_img
    margin: 0 auto
    max-width: 100%
    height: 305px

    img
      width: 100%
      height: 100%
      border-radius: 5px 
  
  .paint_desc
    margin: 12px 0 5px
    p
      +g-r-16
      line-height: 22px
      color: $purple_3
      max-height: 44px
      word-break: break-word
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
  
  .paint_prices
    +flex_1
    margin-top: auto
    .price_box
      display: flex
      grid-gap: 7px
      align-items: flex-end
      height: max-content
      p.current_price
        +g-b-25
        line-height: 27px
        color: $purple_2
        word-break: break-word
      
      p.old_price
        position: relative
        +g-b-18
        line-height: 20px
        color: $old_price
        opacity: .7
        word-break: break-word
        &::after
          content: ''
          position: absolute
          width: 100%
          height: 1px
          left: 0
          top: 8px
          background-color: $pink_2
    
    button.heart
      width: 36px
      height: 36px
      +flex_2
      background: $white
      box-shadow: 0px 3px 6px rgba(38, 34, 84, 0.14)
      border-radius: 50%
      .heart_center
        width: 22px
        height: 21px
        +flex_2
        position: relative
        svg
          margin-top: 2px
          path
            transition: all .5s
        
        &::after
          content: ''
          position: absolute
          left: 0
          right: 0
          width: 100%
          height: 100%
          background-image: url('../img/heart.svg')
          background-size: cover
          background-position: center
          opacity: 0
          transition: all .3s

        
      &:hover
        .heart_center
           &::after
             opacity: 1

    button.paint_basket
      min-width: 54px
      height: 54px
      +flex_2
      background-color: $purple_1
      border-radius: 4px
      transition: background .5s
      &:hover
        background-color: $purple_1

.see_more
  +flex_2
  width: 183px
  margin: auto
  height: 50px
  border: 1px solid $purple_1
  color: $purple_2
  +g-b-18
  font-size: 15px
  border-radius: 67px
  transition: all .5s
  margin-top: 30px

  &:hover
    color: $white
    background-color: $purple_1

.same_blue_title
  +g-b-25
  line-height: 42px
  color: $purple_1

.mutual_delivery_info_box
  display: grid
  grid-gap: 20px
  .mutual_delivery_single
    padding: 29px 45px 35px 40px 
    background-color: $aside_back
    border-radius: 8px

.mutual_title
  +g-sb
  font-size: 20px
  line-height: 34px
  color: $purple_1

.btn_pink
  background-color: $pink_2
  color: $white
  transition: background-color .5s
  +g-sb
  font-size: 18px
  line-height: 23px
  border-radius: 5px
  &:hover
    background-color: $purple_2

.white-blue
  background-color: $white 
  color: $purple_1
  transition: background-color .5s
  +g-sb
  font-size: 18px
  line-height: 23px
  border: 1px solid $purple_1
  border-radius: 4px
  &:hover
    background-color: $purple_1
    color: $white

.form_btn
  background: $purple_1
  color: $white
  transition: background .5s
  &:hover
    background: $purple_2

#imgShow
  background: rgba(38, 34, 84, 0.8)
  padding: 0 25px !important
  .modal-dialog
    max-height: 612px
    max-width: 520px
    margin: 50 auto
    +flex_2
    flex-direction: column
    .modal-content
      background: none
      display: flex
      flex-direction: column
      align-items: flex-end
      grid-gap: 4px
      height: max-content
      border: 0
      outline: none
      .modal-body
        padding: 0
      .owl-nav
        position: absolute
        top: 50%
        width: 100%
        display: flex
        justify-content: space-between
         
      .delete
        margin-right: 50px
        margin-bottom: 12px
        img
          width: 17px
          height: 17px
          filter: brightness(0) invert(1)
      
      .item
        margin: 0 36px
        max-width: 520px
        max-height: 612px

        img
          height: 612px
          border-radius: 5px 
          object-fit: cover

.tool_bar_mobile
  position: fixed
  z-index: 105
  display: none
  justify-content: space-between
  align-items: center
  background-color: $purple_2
  min-height: 76px
  width: 100%
  padding: 14px 25px 14px
  left: 0
  bottom: 0
  border-radius: 8px 8px 0 0
  .tool-link
    color: $white
    +g-m-10
    opacity: .45
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    grid-gap: 5px
    svg
      rect
        transition: fill .5s

      path
        transition: fill .5s

    &.tool-active
      opacity: 1
      svg
        path ,rect
          fill: $white